<mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let city of cityData |async" style="border-radius: 10px; padding: 0; margin: 0; height: 128px;">
        <mat-card style="border: 1px;">
            <mat-card-header>
              <mat-card-title>{{city.city}}</mat-card-title>
              <mat-card-subtitle>{{city.country}}</mat-card-subtitle>              
            </mat-card-header>
            <mat-card-content>
                Visit date: {{city.visit_date}}
            </mat-card-content>
          </mat-card>
    </mat-list-item>
</mat-list>