<div>
    <form action="" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field appearance="fill">
            <mat-label>City Name</mat-label>
            <input matInput type="text" name="city" ngModel>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Country Name</mat-label>
            <input matInput type="text" name="country" ngModel>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Visit date</mat-label>
            <input matInput type="datetime-local" name="visit_date" id="visit_date" ngModel>
        </mat-form-field>   
        <br>
        <button mat-raised-button color="primary" type="submit">Add city</button>
    </form>
</div>